<div class="dashboard-container">
  <h2>User Dashboard</h2>
  <div style="display: flex;justify-content: space-between;align-items: center;">
      <input style=" padding: 0.8rem;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;" type="text" #searchText [(ngModel)]="searchTerm" placeholder="Search" Green
      (input)="applyFilter()" />
    
      <button mat-raised-button color="primary" (click)="openUserForm()" style="
      padding: 5px 8px;
      color: #383838;
      background: #ffffff;">
          Add User
        </button>
  </div>

  <table *ngIf="users.length > 0" class="user-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filterdata">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="users.length === 0">No users added yet.</p>

  <div class="chart-container" style="max-width: 400px; margin-top: 2rem;">
    <h3>User Role Distribution</h3>
    <canvas id="pieChart"></canvas>
  </div>
</div>
