<div class="dashboard-container">
    <h2>User Dashboard</h2>
  
    <button mat-raised-button color="primary" (click)="openUserForm()" style="float: right;
    margin-bottom: 10px;
    padding: 5px 8px;
    color: #383838;
    background: #ffffff;">
        Add User
      </button>
  
    <table *ngIf="users.length > 0" class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="users.length === 0">No users added yet.</p>
  
    <div class="chart-container" style="max-width: 400px; margin-top: 2rem;">
      <h3>User Role Distribution</h3>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
  